<h2 md-dialog-title>Add a new website</h2>
<md-dialog-content>
  <md-input-container>
    <input #websiteName mdInput placeholder="Website name">
  </md-input-container>
  <br>
  <md-input-container>
    <input #websiteUrl mdInput placeholder="URL">
  </md-input-container>
</md-dialog-content>
<md-dialog-actions>
  <button md-button [md-dialog-close]="{name:websiteName.value, url: websiteUrl.value}">
    Add website
  </button>
  <button md-button md-dialog-close>Cancel</button>
</md-dialog-actions>
